* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {text-align: center;}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-container > .item {
  background-color: crimson;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}

.grid-container .nested-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 200px;
  grid-gap: 10px;
}