* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {text-align: center;}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
  align-items: end;
  border: 3px solid royalblue;
}

.grid-container > div {
  background-color: crimson;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}