* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {text-align: center;}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-container > div {
  background-color: crimson;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}

.grid-container .item1 {
  background-color: darkblue;
  /* grid-row-start: 1;
  grid-row-end: 4; */
  grid-row: 1 / 4
}